.blog-form {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black3);
  padding: var(--padding-inner);
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.blog-form * {
  font-size: 12px;
}

.blog-form h2 {
  font-size: 24px;
}

.blog-form div {
  margin: var(--side-spacing-x2) 0;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  box-shadow: var(--box-shadow);
  padding: var(--padding-inner);
  border: var(--border);
}

.blog-form div * {
  margin: var(--side-spacing) 0;
  font-family: var(--base-font);
  width: 100%;
}

.blog-form label {
  text-align: left;
}

.blog-form div input, .blog-form div textarea {
  padding: var(--padding-inner);
}

.blog-form div textarea {
  resize: none;
  height: 200px;
}

.blog-form div input:focus,
.blog-form div button:focus,
.blog-form div textarea:focus {
  outline: var(--secondary-dark) 2px solid;
}

.blog-form div input, .blog-form div textarea {
  border: none;
}

.blog-form button {
  width: 80%;
  background-color: var(--primary);
  color: var(--black);
  font-weight: 600;
  padding: var(--padding-inner);
  transition: var(--transition);
  cursor: pointer;
  border: var(--primary) 1px solid;
  outline: none;
  margin: var(--side-spacing-x2) 0 var(--side-spacing) 0;
  font-family: var(--base-font);
}

.blog-form button:hover {
  background-color: var(--secondary);
  border: var(--secondary) 1px solid;
  color: var(--white);
}

@media (min-width: 576px) {
  .blog-form {
    width: 80%;
  }

  .blog-form * {
    font-size: 16px;
  }

  .blog-form h2 {
    font-size: 32px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
