.link-box {
  width: 100vw;
  height: 3vh;
  margin: 0 auto;
  background-color: var(--black5);
  box-shadow: var(--box-shadow);
  border: var(--border);
}

.link-box-ul {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  display: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.link-box-ul li {
  list-style-type: none;
  margin: 0 var(--side-spacing-x2);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.link-box-ul li .active {
  color: var(--primary-light);
  text-decoration: underline;
}

.link-box-ul li a:hover {
  transition: var(--transition);
  color: var(--secondary);
}

@media (min-width: 576px) {
  .link-box-ul {
    display: flex;
    width: 90vw;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .link-box-ul {
    max-width: 1400px;
  }
}
