.delete-blog-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.delete-blog-header {
  margin-bottom: 2vh;
  padding: 0 var(--side-spacing-large);
}

.delete-blog-wrap article div.blog-controls {
  display: none;
}

.delete-button {
  margin-top: 2vh;
  border: none;
  width: 100%;
  background-color: var(--primary);
  color: var(--black);
  font-weight: 600;
  padding: var(--padding-inner);
  transition: var(--transition);
  cursor: pointer;
  border: var(--primary) 1px solid;
  outline: none;
  margin: var(--side-spacing-x2) 0 var(--side-spacing) 0;
  font-family: var(--base-font);
  font-size: 12px;
}

.delete-button:focus {
  outline: var(--secondary-dark) 2px solid;
}

.delete-button:hover {
  background-color: var(--secondary);
  border: var(--secondary) 1px solid;
  color: var(--white);
}

@media (min-width: 576px) {
  .delete-button {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .delete-button {
    width: 45%;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .delete-button {
    width: 30%;
  }
}
