.nav-wrapper {
  width: 100vw;
  height: 7vh;
  background-color: var(--black3);
}

.nav {
  width: 85vw;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-img-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.nav-img-box img {
  width: 50px;
}

.nav-img-box p {
  display: inline-block;
}

.nav-ul-mobile {
  margin-left: auto;
}

.nav-ul-mobile svg {
  padding: var(--padding-inner);
  background-color: var(--primary);
  color: var(--black);
  font-size: 20px;
}

.nav-ul {
  display: none;
  flex-flow: row wrap;
}

.nav-ul li {
  list-style: none;
  margin: 0 var(--side-spacing);
}

.nav-ul li a {
  background-color: var(--primary);
  color: var(--black);
  font-weight: 600;
  padding: var(--padding-inner);
  transition: var(--transition);
  outline: none;
}

.nav-ul li a:hover {
  background-color: var(--secondary);
  color: var(--white);
}

.nav-ul li a:focus {
  outline: var(--secondary-dark) 2px solid;
}

@media (min-width: 576px) {
  .nav h3 {
    font-size: 24px;
  }

  .nav-ul-mobile {
    display: none;
  }

  .nav-ul {
    display: flex;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .nav {
    max-width: 1200px;
  }
}

