$c-white: #fff;
$c-black: #000;
$c-primary: #4fc3f7;
$c-primary-light: #8bf6ff;
$c-secondary: #0277bd;
$c-secondary-dark: #004c8c;
$padding-inner: 8px;
$padding-inner-x2: 16px;
$side-spacing: 5px;
$side-spacing-x2: 10px;
$side-spacing-large: 30px;
$box-shadow:
  0px 8px 10px 1px hsla(0,0%,0%,0.14), 
  0px 3px 14px 2px hsla(0,0%,0%,0.12), 
  0px 5px 5px -3px hsla(0,0%,0%,0.2);
$border: solid 1px;
$border-r: 12px;
$transition: all 0.08s cubic-bezier(0.25, 0.25, 0.25, 0.25);
$base-font: 'Montserrat', sans-serif;
$c-black1: #121212;
$c-black2: #1d1d1d;
$c-black3: #222222;
$c-black4: #242424;
$c-black5: #272727;
$c-black6: #2c2c2c;
$c-black7: #2d2d2d;
$c-black8: #323232;
$c-black9: #333333;
$c-black10: #373737;
