@import '_constants.scss';

.navWrapper {
  width: 100vw;
  height: 7vh;
  background-color: $c-black3;
}

.nav {
  width: 95vw;
  height: 7vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navImgBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 50px;
  }

  p {
    display: inline-block;
  }
}

// .linksAuthBox {
//   display: flex;
//   position: absolute;
//   top: 0;
//   left: -500px;
//   width: 100vw;
//   height: 7vh;

//   .display {
//     left: 0;
//   }
// }

.navLinks.show {
  // display: flex;
  left: 0;
}

.navLinks {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  transition: $transition;
  background-color: $c-black3;

  // flex-flow: row wrap;
  // flex-grow: 3;

  .navigationLinks {
    display: flex;
    flex-flow: column wrap;
    // justify-content: space-between;
    // align-items: center;

    li, a {
      list-style: none;
      margin-left: $side-spacing;
      cursor: pointer;
      transition: $transition;
      text-decoration: underline;
    }
  }

  .authLinks {
    display: flex;
    flex-flow: row wrap;

    a {    
      margin-left: $side-spacing;
      transition: $transition;
      outline: none;
      cursor: pointer;
      background-color: $c-primary;
      color: $c-black;
      padding: $padding-inner;
      font-weight: 600;

      &:hover {
        background-color: $c-secondary;
        color: $c-white;
      }

      &:focus {
        outline: $c-secondary-dark 2px solid;
      }
    }
  }
}

.navHamburger {
  svg {
    padding: $padding-inner;
    color: $c-white;
    font-size: 32px;
  }
}

.homeLink {
  text-decoration: underline;
}

@media(min-width: 350px) {
  .navLinks {

    .navigationLinks {
      flex-flow: row wrap;
    }
  }
}

@media (min-width: 576px) {
  .nav {
    width: 90vw;

    h3 {
      font-size: 24px;
    }
  }

  .navLinks {
    display: flex;
    position: unset;
    background-color: transparent;
  }

  .navHamburger {
    display: none;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .nav {
    max-width: 1300px;
  }
}
