.form {
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black3);
  padding: var(--padding-inner);
}

.form * {
  margin: var(--side-spacing) 0;
  font-size: 12px;
}

.form h2 {
  font-size: 24px;
}

.form input, .form button {
  padding: var(--padding-inner);
  width: 60%;
  font-family: inherit;
}

.form input:focus, .form button:focus {
  outline: var(--secondary-dark) 2px solid;
}

.form input {
  border: none;
}

.form button {
  background-color: var(--primary);
  color: var(--black);
  font-weight: 600;
  padding: var(--padding-inner);
  transition: var(--transition);
  cursor: pointer;
  border: var(--primary) 1px solid;
  outline: none;
}

.form button:hover {
  background-color: var(--secondary);
  border: var(--secondary) 1px solid;
  color: var(--white);
}

.submit-button {
  margin-top: var(--side-spacing-x2);
}

@media (min-width: 576px) {
  .form {
    width: 50%;
  }

  .form * {
    font-size: 16px;
  }

  .form h2 {
    font-size: 32px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
